@model ExpenseTracker.Model.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumbs{
    <div class="main-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li class="">Settings</li>
            <li class="active">Change Password</li>
        </ol>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading">
        Change Password
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="oldPassword">Old Password: <span class="text-danger">*</span></label>
                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control input-sm", @placeholder = "Old Password", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="newPassword">New Password: <span class="text-danger">*</span></label>
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control input-sm", @placeholder = "Old Password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="newPassword">Confirm Password: <span class="text-danger">*</span></label>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-sm", @placeholder = "Old Password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        }
    </div>
</div>
